h1{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: rgba(255,255,255,0.6);
}
.box{
    width: 1500x;
    height: 125px;
    display: flex;
    font-size: 80px;
    background-color: rgb(7, 81, 128);
    color: thistle;
    align-items: center;
    justify-content: center;

  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: #ffffff;
  text-shadow:
    0 0 5px rgba(255,255,255,0.6),
    0 0 10px rgba(255,255,255,0.4),
    0 0 20px rgba(255,255,255,0.2);
}
h3{
    text-align: center;
    font-family: 'poppins',sans-serif;
    color: #ffffff;
}
.submit{
    padding: 15px 300px;
    font-size: 20px;
    background-color: rgb(235, 236, 237);
    color: rgb(7, 81, 128);
    display: block;
    margin: auto;
}
body{
    font-family: 'poppins',sans-serif;
    background-image: url("mainblock.jpg");

}

.myform input:not(.submit),
.myform textarea {
  display: block;
  width: 300px;
  margin:auto;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
}
.forme{
     width: 700px;
    height: 1200px;
    display: flex;
    font-size: 20px;
    background-color: rgb(7, 81, 128);
    color: rgb(220, 218, 220);
    align-items: center;
    justify-content: center;
    margin: auto;
}

.fname{
    display: flex;
    justify-content: center;
}
.lname{
    display: flex;
    justify-content: center;
}.email{
    display: flex;
    justify-content: center;
}.pno{
    display: flex;
    justify-content: center;
}.dob{
    display: flex;
    justify-content: center;
}
.add{
    display: flex;
    justify-content: center;
}